catalog/*.cat
catalog/allnum*
catalog/*.num
catalog/*.syn
vendor
aei
export*
*.o
result
calc
axis/*.o
axis/axis
output/png*
output/res*
output/gnu*
output/images*
output/png_res/*
input/mercury/*.in
export
mercury
